[submodule "IceFishing/Vendor/Alamofire"]
	path = IceFishing/Vendor/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
	branch = swift-2.0
[submodule "IceFishing/Vendor/SwiftyJSON"]
	path = IceFishing/Vendor/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
	branch = xcode7
[submodule "IceFishing/Vendor/ios-sdk"]
	path = IceFishing/Vendor/ios-sdk
	url = https://github.com/spotify/ios-sdk.git
[submodule "IceFishing/Vendor/facebook-ios-sdk"]
	path = IceFishing/Vendor/facebook-ios-sdk
	url = https://github.com/facebook/facebook-ios-sdk.git
